In [58]:
print ("hola mundo"
       )

hola mundo

In [59]:
import pandas as pd

In [60]:
df0 = pd.read_csv('customer_shopping_data.csv')
df0.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [61]:
df0.shape

(99457, 10)

In [62]:
df0.info(
    
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [63]:
#valores unicos del atributo
print ("valores unicos en gender:", df0['gender'].unique())



#numero de valores deiferentes del atributo
print ("numero de valores unicos:", df0['gender'].nunique())

valores unicos en gender: ['Female' 'Male']
numero de valores unicos: 2

In [64]:
#valores unicos del atributo
print ("valores unicos en payment_method:", df0['payment_method'].unique())



#numero de valores deiferentes del atributo
print ("numero de valores unicos:", df0['payment_method'].nunique())

valores unicos en payment_method: ['Credit Card' 'Debit Card' 'Cash']
numero de valores unicos: 3

In [65]:
df1= df0.copy()

In [66]:
# convertir el "invoice date" en fecha

df1["invoice_date"] = pd.to_datetime(df1["invoice_date"], dayfirst=True)

In [67]:
df1["invoice_date"].head(3)

0   2022-08-05
1   2021-12-12
2   2021-11-09
Name: invoice_date, dtype: datetime64[ns]

In [68]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  datetime64[ns]
 9   shopping_mall   99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 7.6+ MB

In [69]:
#agregar columnas para meses y años
df1["year"]= df1["invoice_date"],dt.strftime("%Y")

NameError: name 'dt' is not defined

In [ ]:
#agregar columnas para meses y años
df1["year"]= df1["invoice_date"],dt.strftime("%Y")